#!/usr/bin/make -f

include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk
-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-gnome \
		--disable-gnomeui \
		--disable-gnomecanvas \
		--disable-gnomevfs \
		--disable-gnomevfsbonobo \
		--enable-gconf \
		--disable-bonobo_activation \
		--disable-bonobo \
		--disable-bonoboui
